


<p *ngIf="!todos"><em>Loading...</em></p>

<h1>Todos <span *ngIf="todos">({{todos.length}})</span></h1>

<table class='table' *ngIf="todos">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todos">
            <td>{{ todo.id }}</td>
            <td>{{ todo.name }}</td>
            <td><input type="checkbox" (change)="toggleTodo($event, todo.id)" [checked]="todo.finished"/></td>
            <td><button type="button" (click)="removeTodo(todo.id)">Remove</button></td>
        </tr>
    </tbody>
</table>


<add-todo [(todoList)]="todos"></add-todo>